Repository bastislack/highline-freestyle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

Convert to using Section component
  src/routes/tricks/TrickDetails.vue
Due: eslint --fix, prettier --ignore-unknown --write

wip: impl. trick creation
  src/components/ui/form/GenericFormElement.vue
  src/components/ui/form/NumberInput.vue
  src/components/ui/form/TextInput.vue
  src/data/tricks/tricks.schema.json
  src/i18n/common/positions.ts
  src/i18n/common/positions/positions.en.json
  src/lib/database/daos/tricksDao.ts
  src/lib/database/schemas/Version1Schema.ts
  src/routes/tricks/NewTrickRoute.vue
Due: eslint --fix, prettier --ignore-unknown --write

Add files via upload
  public/favicon.png
  public/logo_big.svg
  public/logo_big_white.svg
  public/logo_small.svg
  public/logo_small_white.svg
Due: none

Delete public/favicon.ico
  public/favicon.ico
Due: none

Delete public/logo192.png
  public/logo192.png
Due: none

Delete public/logo512.png
  public/logo512.png
Due: none

Delete public/logo96.png
  public/logo96.png
Due: none

Delete public/favicon.png
  public/favicon.png
Due: none

Add files via upload
  public/favicon_background.ico
  public/favicon_transparent_black.ico
  public/favicon_transparent_white.ico
Due: none

Add proper error page
  src/assets/img/leashfall.svg
  src/components/ErrorInfo.vue
  src/components/ui/collapsible/Collapsible.vue
  src/components/ui/collapsible/CollapsibleContent.vue
  src/components/ui/collapsible/CollapsibleTrigger.vue
  src/components/ui/collapsible/index.ts
  src/routes/tricks/TrickDetails.vue
Due: eslint --fix, prettier --ignore-unknown --write

add three versions of new logo favicon.ico
  public/favicon_background.ico
  public/favicon_transparent_black.ico
  public/favicon_transparent_white.ico
Due: none

upload new logo versions
  src/assets/logo/bonushahn.svg
  src/assets/logo/logo_big.svg
  src/assets/logo/logo_big_white.svg
  src/assets/logo/logo_small.svg
  src/assets/logo/logo_small_white.svg
Due: prettier --ignore-unknown --write

feat(ui): add new logo to assets (#329)
  public/favicon.ico
  public/favicon_background.ico
  public/favicon_transparent_black.ico
  public/favicon_transparent_white.ico
  public/logo192.png
  public/logo512.png
  public/logo96.png
  src/assets/logo/bonushahn.svg
  src/assets/logo/logo_big.svg
  src/assets/logo/logo_big_white.svg
  src/assets/logo/logo_small.svg
  src/assets/logo/logo_small_white.svg
Due: prettier --ignore-unknown --write

Add error pages
  src/components/stickable/InfoElement.vue
  src/components/stickable/trick/TrickDetailsContent.vue
  src/routes/tricks/TrickDetails.vue
Due: eslint --fix, prettier --ignore-unknown --write

added a funkkkkkky logo to the sidebar
  src/components/navbar/NavbarSide.vue
Due: eslint --fix, prettier --ignore-unknown --write

feat(ui): add logo to sidebar (#330)
  src/components/navbar/NavbarSide.vue
Due: eslint --fix, prettier --ignore-unknown --write

feat: add adaptive favicon
  package-lock.json
  package.json
  public/favicon.ico
  public/favicon_background.ico
  public/favicon_light.ico
  public/favicon_transparent_black.ico
  public/favicon_transparent_white.ico
  src/App.vue
Due: eslint --fix, prettier --ignore-unknown --write

fix: remove vulnerabilities with npm audit fix
  package-lock.json
Due: none

add toast component
  src/components/ui/toast/Toast.vue
  src/components/ui/toast/ToastAction.vue
  src/components/ui/toast/ToastClose.vue
  src/components/ui/toast/ToastDescription.vue
  src/components/ui/toast/ToastProvider.vue
  src/components/ui/toast/ToastTitle.vue
  src/components/ui/toast/ToastViewport.vue
  src/components/ui/toast/Toaster.vue
  src/components/ui/toast/index.ts
  src/components/ui/toast/use-toast.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: TrickOverview contained record which could have undefined as a key
  src/components/TrickOverview.vue
Due: eslint --fix, prettier --ignore-unknown --write

Update package.lock to reflect package-lock.json changes
  package.json
Due: none

feat: Add routing to new page and toasts
  src/App.vue
  src/routes/tricks/NewTrickRoute.vue
Due: eslint --fix, prettier --ignore-unknown --write

Update package-lock.json
  package-lock.json
Due: none

Add adaptive favicon
  index.html
  public/favicon.png
  public/favicon.svg
  public/favicon_background.ico
  public/favicon_transparent_black.ico
  public/favicon_transparent_white.ico
  public/vite.svg
Due: none

feat: add adaptive favicon (#333)
  index.html
  public/favicon.png
  public/favicon.svg
  public/favicon_background.ico
  public/favicon_transparent_black.ico
  public/favicon_transparent_white.ico
  public/vite.svg
Due: none

Fix positioning of error messages
  src/components/stickable/trick/TrickDetailsContent.vue
  src/routes/tricks/TrickDetails.vue
Due: eslint --fix, prettier --ignore-unknown --write

Add header
  src/components/stickable/Header.vue
  src/components/stickable/trick/TrickDetailsContent.vue
Due: eslint --fix, prettier --ignore-unknown --write

Add internationalization
  src/components/ErrorInfo.vue
  src/components/stickable/trick/TrickDetailsContent.vue
  src/components/video/Duration.vue
  src/components/video/VideoPlayer.vue
  src/i18n/error.ts
  src/i18n/error/error.en.json
  src/i18n/tricks/trickDetails/trickDetails.en.json
  src/i18n/video.ts
  src/i18n/video/video.en.json
  src/routes/tricks/TrickDetails.vue
Due: eslint --fix, prettier --ignore-unknown --write

Add url error fallback to YoutubePlayer
  src/components/video/platforms/YoutubePlayer.vue
  src/i18n/video/video.en.json
Due: eslint --fix, prettier --ignore-unknown --write

Translate ErrorInfo
  src/i18n/error.ts
  src/i18n/error/error.es.json
  src/i18n/error/error.fr.json
Due: eslint --fix, prettier --ignore-unknown --write

Translate video components
  src/i18n/video.ts
  src/i18n/video/video.en.json
  src/i18n/video/video.es.json
  src/i18n/video/video.fr.json
Due: eslint --fix, prettier --ignore-unknown --write

Translate trick details
  src/i18n/tricks/trickDetails.ts
  src/i18n/tricks/trickDetails/trickDetails.en.json
  src/i18n/tricks/trickDetails/trickDetails.es.json
  src/i18n/tricks/trickDetails/trickDetails.fr.json
Due: eslint --fix, prettier --ignore-unknown --write

wip: Add translations, do some minor changes to the new Trick Route
  src/components/ui/form/GenericFormElement.vue
  src/components/ui/form/PositionSelectInput.vue
  src/components/ui/form/TextInput.vue
  src/i18n/tricks/new/index.ts
  src/i18n/tricks/new/tricksNew.en.json
  src/i18n/tricks/new/tricksNew.es.json
  src/i18n/tricks/new/tricksNew.fr.json
  src/routes/tricks/NewTrickRoute.vue
Due: eslint --fix, prettier --ignore-unknown --write

wip
  package-lock.json
  package.json
  src/components/ui/form/PositionSelectInput.vue
  src/components/ui/form/TextInput.vue
  src/components/ui/input/Input.vue
  src/components/ui/input/index.ts
  src/components/ui/select/Select.vue
  src/components/ui/select/SelectContent.vue
  src/components/ui/select/SelectGroup.vue
  src/components/ui/select/SelectItem.vue
  src/components/ui/select/SelectItemText.vue
  src/components/ui/select/SelectLabel.vue
  src/components/ui/select/SelectScrollDownButton.vue
  src/components/ui/select/SelectScrollUpButton.vue
  src/components/ui/select/SelectSeparator.vue
  src/components/ui/select/SelectTrigger.vue
  src/components/ui/select/SelectValue.vue
  src/components/ui/select/index.ts
  src/routes/router.ts
  src/routes/tricks/TricksRoute.vue
Due: eslint --fix, prettier --ignore-unknown --write

feat: allow for clips; minor fixes and refactoring
  src/components/stickable/trick/TrickDetailsContent.vue
  src/components/video/VideoPlayer.vue
  src/components/video/platforms/YoutubePlayer.vue
  src/data/tricks/1-sofa-roll.yaml
Due: eslint --fix, prettier --ignore-unknown --write

feat: change Error Page Button Location
  src/components/ErrorInfo.vue
Due: eslint --fix, prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,vue}
  prettier --ignore-unknown --write: any of: src/**/*
